extends _layout
block title
  title= title
block header
  h1
    = title
    br
    = subtitle
block content
  .page-index
    nav
      section
        h2 Lessons
        ul.list-rank
          - for (var i = 0; i < lessons.length; i++) {
            - var lesson = lessons[i];
              li.list-rank-item
                a(href="#{lesson.url}")
                  label= lesson.name
                  br
                  small= lesson.description
          - }
      section
        h2 Lessons(Extra): use micro framework
        ul.list-rank
          - for (var i = 0; i < lessons.length; i++) {
            - var lesson = lessons[i];
              li.list-rank-item
                a(href="/extra#{lesson.url}")
                  label= lesson.name
                  br
                  small= lesson.description
          - }
